doctype html
html
  head
    title member's only
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      div.logo
        div member's only
      if user
        div.user_info
      else  
        div.btn-ctn
          a(href='/login')
            button.text-btn(type='button') Log in
          a(href='/signup')
            button.text-btn(type='button') Sign up
    block content
