doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      div.logo
        div Member's Only
      div.btn-ctn
        button.text-btn(type='button') Log in
        button.text-btn(type='button') Sign up
    block content
