extends layout

block content
  h3 are you ready to join the club?
  p enter the secret password below
  form(action='' method='POST')
    div.form-group
      label(for='password')
      input(type='password' name='password')
    button.flat-btn(type='submit') im ready