:root {
  --main-bg-color: #fefae0;
  --main-fg-color: #d4a373;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--main-bg-color);
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: clear;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button,
input[type='submit'],
input[type='text'],
input[type='password'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

main {
  padding: 1em 2em;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  background-color: var(--main-fg-color);
  flex: 0 0 50px;
}

.btn-ctn {
  display: flex;
  column-gap: 5px;
}

.text-btn {
  padding: 5px 10px;
}
.text-btn:hover .text-wrapper {
  text-decoration: underline;
}

.content-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 5px;
  padding: 5px 0;
}
.form-group label {
  margin-right: 10px;
}

input[type='text'],
input[type='password'] {
  border-bottom: 1px solid black;
}

/* login/signup forum */
.main-form-ctn {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-form-ctn .flat-btn {
  margin-top: 10px;
}

/* page count */
.page_count {
  display: flex;
}
.page_num {
  padding: 5px;
  margin: 0 5px;
}

/* new message input */
.message-input-ctn {
  background-color: white;
  box-sizing: border-box;
  padding: 1em 2em;
}
.message-title-input {
  width: 100%;
  margin-bottom: 10px;
  border: none !important;
}
.message-input-ctn .form-group {
  width: 100%;
}
.message-input-ctn textarea {
  width: 100%;
  margin-bottom: 10px;
}

/* message display */
.message-wrapper {
  padding: 1em 0;
}
.message-content {
  margin-top: 10px;
  padding-left: 5px;
}
.message-deets {
  display: flex;
}
.action-ctn {
  margin-left: 20px;
  display: flex;
}
